spring:
  application:
    name: book-embedding-worker

  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never
      schema-locations:
        - "classpath:org/springframework/batch/core/schema-postgresql.sql"

  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}

  ai:
    vectorstore:
      opensearch:
        uris: ${OPENSEARCH_URIS}
        username: ${OPENSEARCH_USERNAME}
        password: ${OPENSEARCH_PASSWORD}
        ssl-bundle: opensearch
        index-name: book-embedding-index
        initialize-schema: true
        similarity-function: cosinesimil
        use-approximate-knn: true
        dimensions: 768
        read-timeout: 5000
        connect-timeout: 60000

logging:
  level:
    org.todaybook.embedding.application.batch: DEBUG