name: Deploy to Amazon EC2

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: today-book/book-embedding-worker
  VERSION: 1.0.2

jobs:
  Deploy:
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    environment: deploy
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build with Gradle
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x gradlew
          ./gradlew build -x test

      - name: Log into Github contianer registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE_URI=$IMAGE" >> $GITHUB_ENV

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.DEV_REMOTE_IP }}
          username: ${{ secrets.DEV_REMOTE_USER }}
          key: ${{ secrets.DEV_REMOTE_PRIVATE_KEY }}
          port: ${{ secrets.DEV_REMOTE_SSH_PORT }}
          script: |
            echo "배포 시작"
            sudo docker stop book-embedding-worker || true
            sudo docker rm book-embedding-worker || true
            sudo docker images | grep "book-embedding-worker" | awk '{print $3}' | tail -n +4 | xargs -r sudo docker rmi || true
            
            echo "GHCR 로그인"
            echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u "${{ github.actor }}" --password-stdin
            
            echo "이미지 pull"
            sudo docker pull ${{ env.IMAGE_URI }}
            
            sudo docker run -d --name book-embedding-worker -p 9004:8080  \
            -v /home/ubuntu/app/certs/opensearch.crt:/app/certs/opensearch.crt \
            -v /etc/gcp/keys/service-account.json:/var/secrets/gcp/key.json \
            -e GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/gcp/key.json \
            -e POSTGRESQL_URL=${{ secrets.POSTGRESQL_URL }} \
            -e POSTGRESQL_USERNAME=${{ secrets.POSTGRESQL_USERNAME }} \
            -e POSTGRESQL_PASSWORD=${{ secrets.POSTGRESQL_PASSWORD }} \
            -e OPENSEARCH_CERT_PATH=file:/app/certs/opensearch.crt \
            -e OPENSEARCH_URIS=${{ secrets.DEV_OPENSEARCH_URIS }} \
            -e OPENSEARCH_USERNAME=${{ secrets.DEV_OPENSEARCH_USERNAME }} \
            -e OPENSEARCH_PASSWORD=${{ secrets.DEV_OPENSEARCH_PASSWORD }} \
            ${{ env.IMAGE_URI }}